<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.service.impl.EmpMapper">
	<select id="getSearchEmp" parameterType="empVO" resultType="empVO">
		 SELECT
   			*                 
		 FROM PRODUCT_TBL_10
	</select>
	<insert id="insertEmp" parameterType="empVO">
		INSERT INTO SALE_TBL_10(
							product_id 
							, sale_qty
							, member_id
							, sale_seq
							) VALUES(
							#{product_id}
							, #{sale_qty}
							, #{member_id}
							, #{sale_seq}
							)
	</insert>
							<!-- 
							, product_name
							, product_price 
							, product_info 
							, product_date
							, company
							 -->
							<!--
							, #{product_name}
							, #{product_price}
							, #{product_info}
							, #{product_date}
							, #{company}
							-->
	<select id="getEmp" parameterType="empVO" resultType="empVO">
		 SELECT
   			*                 
		 FROM PRODUCT_TBL_10
		 WHERE product_id = #{product_id}
	</select>
	<insert id="insertProduct" parameterType="empVO">
			INSERT INTO SALE_TBL_10(
							product_id 
							, sale_qty
							, member_id
							, sale_seq
							) VALUES(
							#{product_id}
							, #{sale_qty}
							, #{member_id}
							, #{sale_seq}
							)
	</insert>
							<!-- 
							, product_name
							, product_price 
							, product_info 
							, product_date
							, company
							 -->
							<!--
							, #{product_name}
							, #{product_price}
							, #{product_info}
							, #{product_date}
							, #{company}
							-->
	<select id="getProduct" parameterType="empVO" resultType="empVO">
		 SELECT
   			*                 
		 FROM PRODUCT_TBL_10
		 WHERE product_id = #{product_id}
	</select>
</mapper>
