<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.board.service.impl.CommentsMapper">
	<insert id="insertComments" statementType="CALLABLE" parameterType="CommentsVO">
		{call COMMENTS_INS(
					#{content}
					, #{name}
					, #{board_id}
					, #{id	     , mode=OUT, jdbcType=NUMERIC, javaType=java.lang.String}
					, #{out_msg  , mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
						  )
		}
	</insert>
	<delete id="deleteComments" parameterType="CommentsVO">
		DELETE
		FROM comments
		WHERE id IN 
		<foreach collection="ids" item="i" open="(" separator="," close=")">
			#{i}
		</foreach>
	</delete>
	<select id="getComments" resultType="CommentsVO" parameterType="CommentsVO">
		SElECT 
			ID
			, NAME
			, CONTENT
			, BOARD_ID
			, WDATE
		FROM comments
		WHERE ID = #{id}
	</select>
	<select id="getSearchComments" resultType="CommentsVO" parameterType="CommentsVO">
		SElECT 
			ID
			, NAME
			, CONTENT
			, BOARD_ID
			, WDATE
		FROM comments
		WHERE BOARD_ID = #{board_id}
	</select>
</mapper>
<!-- 
create table ID_REPOSITORY (
NAME varchar2(30) primary key
, VALUE number
);
 
create table COMMENTS (
ID number primary key
, NAME varchar2(20)
, CONTENT varchar2(2000)
, BOARD_ID number
);

create or replace PROCEDURE COMMENTS_INS(
    P_CONTENT  IN VARCHAR2 ,
    P_NAME     IN VARCHAR2 ,
    P_BOARD_ID IN VARCHAR2 ,
    P_ID OUT VARCHAR2 ,
    OUT_MSG OUT VARCHAR2 )
IS
  V_ID NUMBER;
BEGIN
  BEGIN
    SELECT VALUE INTO V_ID FROM ID_REPOSITORY WHERE NAME='COMMENT';
    V_ID := V_ID + 1;
    UPDATE ID_REPOSITORY SET VALUE = V_ID WHERE NAME='COMMENT';
  EXCEPTION
  WHEN NO_DATA_FOUND THEN
    V_ID := 1;
    INSERT INTO ID_REPOSITORY
      (NAME, VALUE
      ) VALUES
      ( 'COMMENT', V_ID
      );
  END;
  INSERT
  INTO COMMENTS
    (
      ID,
      NAME,
      CONTENT,
      BOARD_ID
      ,WDATE
    )
    VALUES
    (
      V_ID,
      P_NAME,
      P_CONTENT,
      P_BOARD_ID
      ,sysdate
    );
  P_ID    := V_ID;
  OUT_MSG := '처리완료.';
EXCEPTION
WHEN OTHERS THEN
  P_ID    := 0;
  OUT_MSG := TO_CHAR(SQLCODE) || ' : ' || SQLERRM;
END COMMENTS_INS;

alter table comments add wdate date;
update comments set wdate = sysdate;
commit;
 -->